/* estructura de comentarios*/

/*edición css x  IDs*/

                                                                /* COLORES

fondo claro #FCFAF5
texto sobre fondo claro #0D0D0D
citas sobre fondo claro #4E4C47

fondo oscuro (footer) #4E4C47
texto sobre fondo oscuro  #FCFAF5

fondo medio (header y widgets) #E7E5E0

color de acento / links #8224E3

                                                                    */



/*Fuente importada desde GoogleFonts*/

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;500;700&family=Young+Serif&display=swap');
/*cómo citar la fuente: 
font-family: 'Hind', sans-serif;
font-family: 'Young Serif', serif;*/

/*UNIDAD DE MEDIDA = 1REM = 16PX*/


/* MEDIA QUERYS */
@media screen and (min-width: 990px) {
    .imagen-presentacion {
    width:696px;
    }
    }

@media only screen and (min-width: 990px) {
        .footer {
            Height:50px
        }
        }
                
@media only screen and (max-width: 989px) {
            .footer {
        Height:90px
        }
        }

        @media screen and (min-width: 1200px) {
            .container-carousel {
                width: 912px;
            }
            }
    @media screen and (min-width: 1200px) {
            .container-general {
                width: 85%;
                margin-top: 5%;
                margin-bottom: 5%;
            }
            }
    @media screen and (max-width: 576px) {
    header img {
    width: 250px;
    
                 }
                 
    }

/* CSS HEADER */

.navbar-align{
    display:flex;
    justify-content: right;
}
        
 header img {
width: 350px;
 }

.bg-header-color {
 background-color: #E7E5E0;   
}

nav a:visited {
    color:dimgray;
        }
nav a:hover {
    text-decoration: overline;
}

nav a:active {
    text-decoration: overline;
    color:#8224e3;
}

/* TITULOS */



/* CSS GENERAL */

h1 {
    font-family: 'Hind', sans-serif;
    font-size: 4.5rem; 
    text-align: center;
    color: #8224e3;
    }
                                                             
h2 {
    font-family: 'Hind', sans-serif;
    font-size: 3.5rem;
    color: #8224e3;
    }
                                                             
h3{
    font-family: 'Hind', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    color: #8224e3;
    }
    
h4 {
    font-family: 'Hind', sans-serif;
    font-size: 2rem; 
    text-align: center;
    color: #8224e3;   
    }
    
h5 {
        font-family: 'Hind', sans-serif;
        font-size: 1.5rem; 
        text-align: center;
        color:#14120D;    
    }
    
.h4-index {
        font-family: 'Hind', sans-serif;
        font-size: 1.5rem; 
        text-align: center;
        color:#E7E5E0;    
    }
    
.h2-en-paginas {
    font-family: 'Hind', sans-serif;
        color: #14120D;
        text-align: center;
    }
    
.h3-en-paginas {
    font-family: 'Hind', sans-serif;
        color: #14120D;
        text-align: center;
    }
        
.h4-en-paginas {
    font-family: 'Hind', sans-serif;
        color: #14120D;
        text-align: center;
    }
    
.container-general {
        margin-top: 5%;
        margin-bottom: 5%;
    }
 
 /* CSS INDEX */
body {
    background-color: #FCFAF5;
     font-family: 'Hind', sans-serif;
     font-weight: 300;
     font-size: 16pt;
     text-align: justify;
     color: #14120D;
    }

.caja-presentacion {
display: flex;
flex-direction: column;
justify-content: center;
padding-bottom: 50px;
}

.seccion-presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
        

.contenedor-texto-presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 25px 0px 25px;
}

.contenedor-valores {
display: flex;
flex-wrap: wrap;
justify-content: center;
flex-direction: row;
align-items: center;
padding-bottom: 50px;
background-color: #F3F1EC;
 }

.imagenes_seccion_valores {
    width: 200px;
 }

.imagenes-seccion-revista {
    width: 100%;
    border-radius: 5%;
 }

.contenedor-imagen-seccion-valores {
    display: flex;
    justify-content: center;
 }

.contenedor-imagen-seccion-revista {
    display: flex;
    justify-content: center;
 }

.subtitulos-index {
    text-align: center;
    font-size: 2rem; 
    font-weight: bold;  
    
 }

 .sub-subtitulos-index {
    text-align: center;
    font-size: 2rem; 
    font-weight:400;
 }

 .grilla-valores {
display: flex;
justify-content: center;
 }

 .section-valores {
    padding: 0px 25px 0px 25px;
 }

.contenedor-satff {
    display:flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 50px;
}

.section-staff {
    padding: 0px 125px 0px 125px;
}

.grilla-staff {
    display: flex;
    justify-content: center;
    flex-direction:row;
     }

.imagenes_seccion_staff {
        width: 200px;
}

.contenedor-section-staff {
    display:flex;
    justify-content: center;
    flex-direction: column;  
}

.contendor-imagen-section-staff {
    display: flex;
    justify-content: center;
}

.imagenes_seccion_staff {
    border-radius: 100%;
}

.contenedor-novedades {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 50px;
    background-color: #F3F1EC;
}

.contenedor-video {
    display:flex;
    justify-content: center;
}

.citas_index {
        font-size: 1.5rem;
    color: #4E4C47;
    font-style: italic;
    }

.parrafos_index {
    font-size: 1.5rem;
    text-align: justify;
}

.parrafos_index {
    font-size: 1.5rem;
    text-align: justify;
}


/* CSS MANIFIESTO */

.texto_manifiesto {
    font-size: 1.5rem;
}
.contenedor-manifiesto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 25px 50px 25px;
}

/* CSS REVISTA */

.contenedor-revista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 25px 50px 25px; 
}

.btn-purpura {
    background-color: #8224e3;
    color: #F3F1EC;
    
}
.btn-align {
    display: flex;
    justify-content: center;
    background-position-y: bottom;
}
.col-margin {
    margin-bottom: 25px;
}

.subtitulos-revista {
    text-align: center;
    font-size: 2rem; 
    font-weight: bold;  
    
 }
 .section-revista {
    padding: 0px 25px 0px 25px;
 }

/* CSS EVENTOS */

.contendor-eventos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 25px 50px 25px;   
}  

.contenedor-presentacion-eventos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
}

.contenedor-fecha-eventos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;  
}

.contenedor-calendario {
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.texto-eventos-fecha {
    text-align: center;
    font-size: 2rem;
}

.contenedor-lugar-eventos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;   
}

.contenedor-mapa {
    text-align: center;
}

.texto-eventos-lugar {
    text-align: center;
    font-size: 2rem;
}


.descripción_eventos {
    font-size: 1.5rem;
}

/* CSS CONTACTO */

.contenedor-pagina-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 25px 50px 25px;  
}

.formulario_contacto {
    font-size: 1.5rem;
}

.formulario_contacto {
    text-align: center;
}


.check-align {
    text-align: center;
    display: flex;
    justify-content: center;
}

.button-submit-align {
    display: flex;
    justify-content: center;   
}

/* CSS para el FOOTER */
                                                            

footer {
    background-color: #4E4C47;
    font-family: 'Hind', sans-serif;
    color: #FCFAF5;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

footer img, svg{
    width: 30px;
}

footer a {
    font-family: 'Hind', sans-serif;
    color: #FCFAF5;
    font-weight: 300;
    text-decoration: none;
    font-size: 1.1rem;
 }

 footer p {
    font-size: 1.25rem;
    color: #FCFAF5;
 }

 .footer {
    display: flex; 
    justify-content: center;
    padding: 0px 25px 0px 25px;
   
 }

.footer-redes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
     }

.contenedor-facebook {
    display: flex;
}

.icono-facebook {
    display: flex;
    align-self: center;
}

.contenedor-instagram {
    display: flex;
}

.icono-instagram {
    display: flex;
    align-self: center;
}

.footer-contacto {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
     }

.contenedor-whatsapp {
    display: flex;
}

.icono-whatsapp {
    display: flex;
    align-self: center;
}

.contenedor-mail {
    display: flex;
}

.icono-mail {
    display: flex;
    align-self: center;
}
 