@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;500;700&family=Young+Serif&display=swap');
@import "partials/variables";
@import "partials/header";
@import "partials/main_index";
@import "partials/main_talleres";
@import "partials/main_revista";
@import "partials/main_manifiesto";
@import "partials/main_eventos";
@import "partials/main_contacto";
@import "partials/footer";
@import "partials/mediaquerries";

h1 {
font: $fuente;
color: $acento;
font-size: $h1;
text-align: center;
font-weight: $negrita;
}

h2 {
font: $fuente;
font-size: $h2; 
text-align: center;
color:$negro;
font-weight: $negrita;
}

h3 {
font: $fuente;
font-size: $h3;    
text-align: center;
color:$negro;
font-weight: $normalmas;
}

h4 {
font: $fuente;
font-size: $h4;   
text-align: center;
color:$negro; 
font-weight: $normalmas;
}

h5 {
font: $fuente;
font-size: $h5;
text-align: center;
color:$negro;    
font-weight: $normalmas;
}

body {
     background-color: $blanco;
     font-family: $fuente;
     font-weight: $normal;
     font-size: $p;
     text-align: justify;
    }

.parrafo-normal {
     font-family: $fuente;
     font-size: $p;
     font-weight: $normal;
     color: $negro;
     text-align: justify;
 }
 
 .parrafo-citas {
     font-family: $fuente;
     font-size: $p;
     font-weight: $delgada;
     color: $gris-medio;
     text-align: justify;
 }

.subtitulos {
     text-align: center;
     font-size: 2rem; 
     font-weight: bold;     
}