header {
    
       .bg-header-color {
       background-color:$gris-claro;}
       nav {
    img {
width: 350px;}
    a {
        font-family: $fuente;
        font-weight: $normal;
        font-size: $p;
        color: $gris-oscuro;
    &:visited {
        color: $gris-medio;
            }
     &:hover {
        text-decoration: overline;
            }
     &:active {
        font-weight: bold;
             }
    }

        .navbar-align{
        display:flex;
        justify-content: right;
        }           
}             
}    

