main {
    .container-general {
        margin-top: 5%;
        margin-bottom: 5%;}
       
            .parrafos-card {
                font-size: $p;
                font-weight: $delgada;
            }
            .contenedor-talleres3 {
                padding-bottom: 100px;}
            .contenedor-talleres2 {
                display:flex;
                justify-content: center;
                padding-bottom: 50px;}
            
                    .btn-purpura {
                        background-color: #8224e3;
                        color: #F3F1EC; 
                    }
                }
                
                
