$fuente: 'Hind', sans-serif;
$h1: 4.5rem; 
$h2: 3.5rem;
$h3: 2.5rem;
$h4: 2rem;
$h5: 1.5rem; 
$p: 1.25rem;;
$pmenos: 1rem;
$negrita: 600;
$normalmas: 400;
$normal: 300;
$delgada: 200;
$blanco: #FCFAF5;
$negro: #14120D;
$gris-oscuro: #4E4C47;
$gris-medio: dimgrey;
$gris-claro: #E7E5E0;
$acento: #8224E3;

